1. Usa la [siguiente](https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020) página web.

2. Extrae la tabla de las medallas olímpicas que tenéis en la página web.

3. Mete todo el código de la extracción de datos en una función.

4. Los resultados deben estar en un *DataFrame* y hacer una exploración básica con los métodos aprendidos en la lección.

In [1]:
# !pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/mabel/anaconda3/lib/python3.9/site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /home/mabel/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.2.1)

In [5]:
# Llamamos todo lo que vamos a usar. 
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [6]:
url_wiki = "https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020"
req_wiki = requests.get (url_wiki)
req_wiki.status_code

200

In [ ]:
#Establecemos una varibale que contenga una clase para req.content y el idioma que queremos que nos traduzca. 
#En este caso "html.parse"
sopa_wiki = BeautifulSoup (req_wiki.content, "html.parser")
sopa_wiki

In [30]:
#Encontramos el identificador de la tabla en la inspección de la página web
tabla = sopa_wiki.find('table', {'class': 'wikitable'})

#Creamos una lista para almacenar las filas de la tabla
filas_tabla = []

Para cada fila, encontramos todas las celdas (<td> es la etiqueta HTML para las celdas de datos en una tabla) y extraemos el texto de cada celda, quitando los espacios en blanco con .strip(). Luego agregamos la lista de textos de las celdas a la lista filas_tabla.

In [44]:
#Buscamos todas las filas de la tabla
for fila in tabla.find_all('tr'):
    #Extraemos el texto de cada celda de la fila
    celdas = fila.find_all('td')
    #Creamos una variable tipo lista para los datos que irán en cada fila y le quitamos los espacios
    fila_datos = [celda.text.strip() for celda in celdas]
    #Le aladimos los datos nuevos a cada fila de la tabla
    filas_tabla.append(fila_datos)

Con los datos extraídos, creamos un DataFrame de pandas. Este DataFrame puede ser manipulado para limpiar los datos, establecer los nombres de las columnas, etc.

In [45]:
#Creamos un DataFrame con los datos extraídos
df_medallas = pd.DataFrame(filas_tabla)
#Printeamos el DataFrame para ver el resultado
df_medallas

         0                     1     2     3     4     5
0     None                  None  None  None  None  None
1        1  Estados Unidos (USA)    39    41    33   113
2        2           China (CHN)    38    32    19    89
3        3           Japón (JPN)    27    14    17    58
4        4     Reino Unido (GBR)    22    20    22    64
..     ...                   ...   ...   ...   ...   ...
186     86         Granada (GRN)     0     0     1     1
187     86          Kuwait (KUW)     0     0     1     1
188     86        Moldavia (MDA)     0     0     1     1
189     86           Siria (SYR)     0     0     1     1
190  Total             93 países   340   338   402  1080

[191 rows x 6 columns]

Convertimos en una función.

In [46]:
def extraer_datos_tabla(url):
    """
    Extrae una tabla de una página web y la convierte en un DataFrame de pandas.
    
    Parameters:
    -----------
    url (str): La URL de la página web que contiene la tabla.
    clase_tabla (str): La clase de la tabla a extraer.

    Returns:
    --------
    pd.DataFrame: Un DataFrame que contiene los datos de la tabla extraída.
    """
    
    #Realizamos la solicitud para obtener el contenido de la página
    respuesta = requests.get(url)

    #Verificamos si la página se cargó correctamente
    if respuesta.status_code != 200:
        print("Ha habido un error en la petición.")
        return None

    #Utilizamos BeautifulSoup para buscar en el contenido de la página y que lo traduzca
    soup = BeautifulSoup(respuesta.content, 'html.parser')

    #Creamos una lista para almacenar las filas de la tabla
    filas_tabla = []
    
    for fila in tabla.find_all('tr'):
        celdas = fila.find_all('td')
        fila_datos = [celda.text.strip() for celda in celdas]
        filas_tabla.append(fila_datos) 

    return df_medallas

In [41]:
extraer_datos_tabla (url_wiki)

        0                     1     2     3     4     5
0    None                  None  None  None  None  None
1       1  Estados Unidos (USA)    39    41    33   113
2       2           China (CHN)    38    32    19    89
3       3           Japón (JPN)    27    14    17    58
4       4     Reino Unido (GBR)    22    20    22    64
..    ...                   ...   ...   ...   ...   ...
90     86         Granada (GRN)     0     0     1     1
91     86          Kuwait (KUW)     0     0     1     1
92     86        Moldavia (MDA)     0     0     1     1
93     86           Siria (SYR)     0     0     1     1
94  Total             93 países   340   338   402  1080

[95 rows x 6 columns]